name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install tools
        run: |
          brew update
          brew install swiftlint swiftformat
      - name: Run CI
        run: ./scripts/ci.sh
